[submodule "SLAM3R"]
	path = SLAM3R
	url = https://github.com/PKU-VCL-3DV/SLAM3R.git
[submodule "sam2"]
	path = sam2
	url = https://github.com/facebookresearch/sam2.git
[submodule "gaussian-splatting"]
	path = gaussian-splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting.git
[submodule "SuGaR"]
	path = SuGaR
	url = https://github.com/Anttwo/SuGaR.git
